/* .App {
  text-align: center;
}

.App img{
  position: absolute;
  top: 1vw;
  left: 3vw;
  opacity: 1;
  height: 3vw

  
} */
.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
  min-width: 400px;
}